.react-phone-number-input__row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.react-phone-number-input__country {
  width: auto;
}
.react-phone-number-input__phone,
.react-phone-number-input__country.rrui__select--expanded {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.react-phone-number-input__phone {
  font-size: inherit;
}
.react-phone-number-input__country.rrui__select--collapsed {
  margin-right: 0.5em;
}
.react-phone-number-input__country .rrui__select__autocomplete {
  width: 100%;
}
.react-phone-number-input__country,
.react-phone-number-input__country:not(.react-phone-number-input__country--native-expanded)
  .rrui__input {
  position: static;
}
.react-phone-number-input .rrui__select__arrow {
  margin-top: 0.3em;
  margin-left: 0.3em;
}
.react-phone-number-input .rrui__select__option {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.react-phone-number-input .rrui__select__option-icon {
  margin-bottom: 0.1em;
}
.react-phone-number-input__icon {
  width: 1.24em;
  height: 0.93em;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.react-phone-number-input__icon--international {
  width: calc(0.93em + 2px);
  height: calc(0.93em + 2px);
  padding-left: 0.155em;
  padding-right: 0.155em;
  border: none;
}
.react-phone-number-input__error {
  margin-left: calc(1.24em + 2px + 0.3em + 0.35em + 0.5em);
  margin-top: calc(0.3rem);
  color: #d30f00;
}
.react-phone-number-input__icon-image {
  max-width: 100%;
  max-height: 100%;
}
.react-phone-number-input__ext-input::-webkit-inner-spin-button,
.react-phone-number-input__ext-input::-webkit-outer-spin-button {
  margin: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: textfield !important;
}
.react-phone-number-input__ext-input {
  width: 3em;
}
.react-phone-number-input__ext {
  white-space: nowrap;
}
.react-phone-number-input__ext,
.react-phone-number-input__ext-input {
  margin-left: 0.5em;
}
.react-phone-number-input__phone {
  min-width: 0;
}
.react-phone-number-input__country--native {
  position: relative;
  -webkit-align-self: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0.5em;
}
.react-phone-number-input__country-select {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}
.react-phone-number-input__country-select-arrow {
  display: block;
  content: "";
  width: 0;
  height: 0;
  margin-bottom: 0.1em;
  margin-top: 0.3em;
  margin-left: 0.3em;
  border-width: 0.35em 0.2em 0 0.2em;
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  color: #b8bdc4;
  opacity: 0.7;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}
.react-phone-number-input__country-select:focus
  + .react-phone-number-input__country-select-arrow {
  color: #03b2cb;
}
.react-phone-number-input__phone--native {
  height: calc(0.3rem * 6);
  outline: none;
  border-radius: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 1px solid #c5d2e0;
  -webkit-transition: border 0.1s;
  transition: border 0.1s;
}
.react-phone-number-input__phone--native:focus {
  border-color: #03b2cb;
}
.react-phone-number-input__phone--disabled {
  cursor: default;
}
.react-phone-number-input__phone--invalid,
.react-phone-number-input__phone--invalid:focus {
  border-color: #eb2010;
}
.react-phone-number-input__phone--native:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
}

/*# sourceMappingURL=onfido.vendors~crossDevice.css.map*/
